.container-store {
    background-color: #e24647;
    width: 80%;
    position: absolute;
    padding: 55px 60px 95px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.list-description {
    color: #fff;
    font-family: 'Roboto', 'Arial', sans-serif;
    text-align: left;
    width: 50%;
    float: right;
}

.fone-image {
    float: left;
    margin-top: 120px;
    width: 50%;
}

.title-description {
    font-size: 25px;
    margin-top: 145px;
    margin-bottom: 100px;
}

.score {
    font-size: 20px;
    margin-bottom: 28px;
}

.score.-price {
    margin-bottom: 26px;
}

.score.-price.last {
    margin-bottom: 0;
}

.product-description {
    margin-top: 73px;
    margin-bottom: 20px;
    font-size: 18px;
}

.details {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.container-button>dd {
    display: inline-block;
    margin-top: 100px;
}