header {
    background-color: #e24647;
    overflow: hidden;
    color: #FFF;
    margin: 50% 115px;
    padding: 55px 60px 95px;
}

h1 {
    font-size: 40px;
    font-family: 'Arial', 'Roboto', sans-serif;
    float: left;
}

a {
    color: inherit;
    text-decoration: none;
    margin-right: 60px;
}

.last {
    margin-right: 0;
}

nav {
    font-size: 21px;
    font-family: 'Segoe UI', 'Robot', sans-serif;
    float: right;
}

#last-navigation {
    clear: right;
}
button {
    border: none;
    margin: 0 165px;
    color: #FFF;
    width: 199px;
    height: 60px;
    background-color: #252c41;
    float: right;
}